@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Inter:wght@100;300;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

@mixin ani{
    position: absolute;
    color: #FFFFFF;
    border: none;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(
                    90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4
    );
    background-size: 300%;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
  }
  button:hover{
    animation: animation 8s linear infinite;
    border: none;
  }
  @keyframes animation {
    0%{
      background-position: 0;
    }
    100%{
      background-position: 400%;
    }
  }
  button:before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(
                    90deg,#03a9f4,#f441a5,#ffeb3b, #f40303
    );
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;

  }

  button:hover::before{
    filter: blur(20px);
  }

@mixin bro{

  background: #FFFFFF;
  border-radius: 14px;
  width: 143px;
  height: 42px;
  transition: .4s;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}